!!! 5
html(lang="en")
  head
    meta(char-set='utf-8')
    //if lt IE 9
        script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    
    // Mobile Specific Metas
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    
    link(rel="stylesheet", href="stylesheets/base.css")
    link(rel="stylesheet", href="stylesheets/skeleton.css")
    link(rel="stylesheet", href="stylesheets/layout.css")
    
    style
      .invalid { border: 1px solid #f22; }
  
    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

    title= "Nag.gr/Backbone"
    
    script(src='javascripts/jquery.js')
    script(src='javascripts/underscore.js')
    script(src='javascripts/backbone.js')
    //script(src='javascripts/backbone-relational.js')
    script(src='javascripts/backbone.localStorage.js')
    script(src="javascripts/app.js")
  body
    #app.container
      .row
        h1.remove-bottom(style="margin-top: 40px")
          | Nag.gr/Backbone
          | <hr />
      .row
        #content.fifteen.columns.offset-by-one.alpha
          form
            label The Git repository I want to finish
            input(type='text', id='url')
            
            input(type='submit', value='save')

      .row
        #create-task.seven.columns.offset-by-one.alpha
          input#new-task(placeholder='what do you need to do?', type='text')
        #create-message.seven.columns.omega
          input#new-message(placeholder='message',type='text')
      .row
        #tasks.seven.columns.offset-by-one.alpha
          ul#task-list
        #messages.eight.columns.omega
          ul#message-list

    script(src='backbone/task.js')
    script(src='backbone/project.js')
    script
      $(function(){
        window.AppView = Backbone.View.extend({
          el: $("#app"),

          events: {
            "keypress #new-task": "createOnEnter"
          },

          initialize: function() {
            _.bindAll(this, 'addOne','addAll');

            this.input = this.$("#new-task");                  

            tasks.bind('add', this.addOne);
            tasks.bind('reset', this.addAll);
            tasks.bind('all', this.render);

            tasks.fetch();
          },

          addOne: function(task) {
            var view = new TaskView({model: task});
            this.$("#task-list").prepend(view.render().el);
          },

          addAll: function() {
            tasks.each(this.addOne);
          },

          createOnEnter: function(e) {
            if(e.keyCode != 13) return;
            tasks.create({content:this.input.val(), order: tasks.nextOrder()});
            this.input.val('');
          }
        });

        app = new AppView;
      }());
