!!! 5
html(lang="en")
  head
    meta(char-set='utf-8')
    //if lt IE 9
        script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    
    // Mobile Specific Metas
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    
    link(rel="stylesheet", href="stylesheets/base.css")
    link(rel="stylesheet", href="stylesheets/skeleton.css")
    link(rel="stylesheet", href="stylesheets/layout.css")
    
    style
      .invalid { border: 1px solid #f22; }
  
    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

    title= "Nag.gr"
    
    script(src='javascripts/jquery.js')
    script(src='javascripts/underscore.js')
    script(src="javascripts/app.js")
    script
      $(function(){

      }());
  body
    .container      
      .row
        .sixteen.columns
          h1.remove-bottom(style="margin-top: 40px")
            | Nag.gr
            | <hr />
      .row
        .eight.columns
          h3 Finish your Projects, Everytime!
          p
            | The saying goes that 80% of the work is in 20% of the project.
            | Nag.gr shrinks your perceptions of that 80% and helps you break
            | the project down into managable pieces. It then tracks your
            | progress and encourages you along the way. 
            br
            br
            | Easily log your progress through your git commits and recieve the support
            | and encouragement you need in order to drive your project from
            | protype to finished product.
            br
            br
            | Finish your projects. Commit to polished code.
        .six.columns.offset-by-two
          form(action='/', method='POST')
            - if( typeof flash != 'undefined')
              - if(typeof flash.error != 'undefined')
                .invalid= flash.error[0]
            label(for='email') Signup with your email address:
            input(type='text', name='email', id='email', autofocus='true')
            input(type='submit', class='submit_button')
