!!! 5
html(lang="en")
  head
    meta(char-set='utf-8')
    //if lt IE 9
        script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    
    // Mobile Specific Metas
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    
    link(rel="stylesheet", href="stylesheets/base.css")
    link(rel="stylesheet", href="stylesheets/skeleton.css")
    link(rel="stylesheet", href="stylesheets/layout.css")
    
    style
      .invalid { border: 1px solid #f22; }
  
    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

    title= "Nag.gr"
    
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js')
    script(src='javascripts/underscore.js')
    script(src='javascripts/backbone.js')
    script(src="javascripts/app.js")
    script
      $(function(){
      
      
      
      
        window.Project = Backbone.Model.extend({
        
        
          defaults: {
            url: 'none',
            email: 'none',
            phone: 'none',
            tasks: [],
            finished: false 
          },
          
          
          initialize: function(){
            if(!this.get('url')) {
              this.set({'url': this.defaults.url});
            }
          },
          
          
          add_task: function(task) {
            this.save({tasks.push(task)});
          }
          
          
          clear: function() {
            this.destroy();
            this.view.remove();
          }
        });
      }());
  body
    .container
      .sixteen.columns
        .row
          h1.remove-bottom(style="margin-top: 40px")
            | Nag.gr
            | <hr />
        .row
          #content.twelve.columns.alpha
          .four.column.omega
            &nbsp;
